/* BIENVENIDA PARA CURSOS */
.bienvenida-cursos {
    background: url('../img/posiblefondo.png') no-repeat center center;
    background-size: cover;
    padding: 100px 240px 60px 240px;
    color: white;
    text-align: center;
  }
  
  .bienvenida-cursos h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .bienvenida-cursos p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.4rem;
    max-width: 700px;
    margin: 0 auto;
  }
  
  /* ESTILO DE LAS CARDS DE CURSOS */
  .card {
    width: 300px;
    height: 200px;
    border-radius: 15px;
    padding: 1.5rem;
    display: flex;
    align-items: flex-end;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 1rem;
    text-decoration: none;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.4);
  }
  
  .card div {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 1rem;
    border-radius: 10px;
  }
  
  .card h2,
  .card p {
    color: white;
  }
  
  /* IMAGENES DE CADA CURSO */
  .curso-frontend {
    background: url('../img/frontend-curso.jpg')  center center;
    background-size: 400px;
  }
  
  .curso-backend {
    background: url('../img/backend-curso.jpg')  center center;
    background-size: 400px;
  }
  
  .curso-uxui {
    background: url('../img/uxui-curso.jpg')  center center;
    background-size: 400px;
  }
  