/* =================================== */
/* ======= VARIABLES DE INPUTS ======= */
/* =================================== */
:root {
  --input-border: #686868; /* Borde general de inputs */
  --input-bg: #333333; /* Fondo general de inputs */
  --input-main-bg: #280033; /* Fondo especial del input principal */
  --input-main-border: #ffffff; /* Borde blanco del input principal */
  --input-text: #ffffff; /* Color de texto en inputs */
}

/* =================================== */
/* ======= INPUT GENÉRICO CON LABEL == */
/* =================================== */
input.label-input {
  padding: 10px 20px;
  width: 100% !important;
  border: 1px solid var(--input-border);
  background-color: var(--input-bg);
  border-radius: 7px;
  font-size: 1rem;
  outline: 0;
  color: var(--input-text);
}

/* =================================== */
/* ======= INPUT PRINCIPAL CENTRAL ==== */
/* =================================== */
input.main-label-input {
  width: 60%;
  padding: 10px 30px;
  outline: none;
  background-color: var(--input-main-bg);
  border-radius: 40px;
  border: 2px solid var(--input-main-border);
  font-size: 1.1rem;
  color: var(--input-text);
  margin: 2rem 0;
}

input.main-label-input::placeholder{
  color: var(--input-text);
}

/* =================================== */
/* ========= TEXTAREA CON LABEL ====== */
/* =================================== */
textarea.label-textarea {
  padding: 10px 20px;
  width: 100%;
  border: 1px solid var(--input-border);
  background-color: var(--input-bg);
  border-radius: 7px;
  resize: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  min-height: 170px;
  color: var(--input-text);
  outline: 0;
  overflow-y: auto;
}

/* =================================== */
/* ========== SELECT CON LABEL ======= */
/* =================================== */
select.label-select {
  padding: 10px 20px;
  width: 100%;
  border: 1px solid var(--input-border);
  background-color: var(--input-bg);
  border-radius: 7px;
  font-size: 1rem;
  color: var(--input-text) !important;
  outline: 0;
}
