* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: radial-gradient(circle at 51.13% 56.43%, #790889 0, #6d038b 25%, #5f008c 50%, #4f008d 75%, #3c028f 100%);
}

.barra {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 15px 30px;
    background-color: #222;
    color: white;
    position: fixed;
    top: 0;
    left: 200px;
    right: 0;
    height: 60px;
    z-index: 100;
}

.titulo {
    font-size: 24px;
    font-weight: bold;
}


.menu-lateral {
    width: 200px;
    height: 100%;
    background-color: #222;
    color: white;
    padding: 80px 20px 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 90;
}

.menu-lateral h3 {
    margin-bottom: 30px;
    font-size: 30px;
    border-bottom: 1px solid #444;
    padding-bottom: 10px;
}

.menu-lateral ul {
    list-style: none;
}

.menu-lateral li {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 10px;
}

.menu-lateral li:hover {
    background-color: #444;
}

.menu-lateral a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    display: block;
}

.contenido {
    margin-left: 220px;
    padding: 80px 20px 40px;
    width: calc(100% - 220px - 20px);
}

.bienvenida {
    text-align: left;
    position: relative;
    padding: 40px;
    margin-bottom: 40px;
    border-radius: 15px;
    overflow: hidden;
    isolation: isolate;
}

.bienvenida::before {
    content: "";
    background-image: url('/img/posiblefondo.png');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: -15%;
    left: -15%;
    right: -15%;
    bottom: -15%;
    z-index: -1;
    border-radius: 15px;
    opacity: 0.9;
    
/* chat gpt*/   
    -webkit-mask-image: radial-gradient(
        ellipse at center,
        rgba(0,0,0,1) 20%,
        rgba(0,0,0,0.6) 50%,
        rgba(0,0,0,0) 80%
    );
    mask-image: radial-gradient(
        ellipse at center,
        rgba(0,0,0,1) 20%,
        rgba(0,0,0,0.6) 50%,
        rgba(0,0,0,0) 80%
    );
}

.logo-wikidev {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
}

.logo {
    height: 130px;
    margin-bottom: 20px;
}

.bienvenida p {
    font-size: 25px;
    line-height: 1.6;
    color: #dbdbdb;
    text-align: left;
    max-width: 100%;
    position: relative;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.178);
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.resaltado {
    color: #c98508;
    font-weight: bold;
}