<%- include('components/head') %>

    <h2>Inicio</h2>

    <div class="container">

        <h4>Pacientes</h4>

        <ul>

            <li><a href="/pacientes"><button>Ver pacientes</button></a></li>
            <li><a href="/turnos/register"><button>Registrar paciente</button></a></li>
        </ul>


        <h4>Turnos</h4>
        
        <ul>
            <li><a href="/turnos"><button>Ver Turnos</button></a></li>
            <li><a href="/turnos/new"><button>Registrar Turno</button></a></li>
        </ul>
    </div>



    <script src=""></script>
<%- include('components/footer') %>