<%- include('components/head') %>

    <div class="container">

        <h2>Registrar nuevo paciente</h2>
    
        <div class="sub-container">
            <form id="formPaciente" class="flex">
                <input type="email" name="email" id="email" placeholder="Correo electronico..." class="s_input" required>
                <input type="text" name="name" id="name" placeholder="Nombre del paciente..." class="s_input" required>
                <button type="submit">Ingresar paciente</button>
            </form>
        </div>
    
        <div id="mensaje"></div>
    </div>


    <script>
        document.getElementById('formPaciente').addEventListener('submit', async function (e) {
            e.preventDefault();

            const name = document.getElementById('name').value;
            const email = document.getElementById("email").value;

            try {
                const response = await fetch('/api/v1/pacientes/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ name, email }) // Ajustá a la clave que espera tu backend
                });

                const data = await response.json();

                if (response.ok) {
                    document.getElementById('mensaje').innerText = 'Paciente registrado correctamente.';
                } else {
                    document.getElementById('mensaje').innerText = `Error: ${data.mensaje || 'No se pudo registrar'}`;
                }

            } catch (error) {
                document.getElementById('mensaje').innerText = `Error al conectar con el servidor: ${error.message}`;
            }
        });
    </script>

<%- include('components/footer') %>
